<ion-view title="Info" id="infotab">
  <ion-content padding="true" class="has-header">
    <ion-list id="info-list1">
      <ion-item class="item-avatar" id="info-list-item11">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="list card" id="info-card23">
      <div class="item item-body" id="info-list-item-container6">
        <div id="info-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">This is the description it is very long and i just write some random noise. Tomorrow is Christmas. </p>
        </div>
      </div>
    </div>
    <div id="info-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Hall V 10.10.2016 Max. 8</p>
    </div>
    <div id="info-button-bar3" class="button-bar">
      <button id="info-button22" class="button button-positive  button-block">Like</button>
      <button id="info-button21" class="button button-positive  button-block">Join</button>
      <button id="info-button23" class="button button-positive  button-block">Edit</button>
    </div>
  </ion-content>
</ion-view>
