<ion-view title="Login" hide-nav-bar="true" id="page4">
  <ion-content padding="true" style="background: url(../img/frontpage.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding text-center">
    <div class="spacer" style="width: 300px; height: 345px;"></div>
    <button ng-click="loginWithFacebook()" id="login-button3" class="center button button-positive  button-block icon-left ion-social-facebook-outline">Login Using Facebook</button>
  </ion-content>
</ion-view>